@charset "utf-8";

/* 웹 페이지 시작 시 초기화 */
* {
    /* 요소의 크기를 border, padding을 포함하여 계산하도록 하여 예측 가능하게끔 설정 */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul, ol { list-style: none; }

a {
    text-decoration: none;
}

/* header 영역 */

header {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

header .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative;
}

header .inner h1 {
    position: absolute;
    left: 0px;
    bottom: 15px;
}

header .inner h1 a {
    font: bold 24px/1 "arial";
    color: #444;
}

header .inner .util {
    position: absolute;
    top: 20px;
    right: 30px;
}

header .inner .util li {
    float: left;
}

header .inner .util li a {
    /* a태그를 블럭요소로 변경하여 클릭 영역을 확대 */
    display: block;
    font: 12px/1 "arial";
    color: #999;
    padding: 0px 10px;
}

header .inner #gnb {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

header .inner #gnb li {
    float: left;
}

header .inner #gnb li a {
    display: block;
    font: bold 15px/1 "arial";
    color: #555;
    padding: 20px 40px;
    transition: all 0.5s;
}

header .inner #gnb li a:hover {
    background-color: #555;
    color: white;
}

/* figure 영역 */
/* 
    사용자 브라우저에 상관없이 한 화면에 header, figure 영역이 모두 보이도록하고, 배경 동영상을 무한 반복 하게끔

    calc() 함수 - CSS자체에서 산술연산하는 함수
        브라우저의 높이값을 100vh로 설정하고 header의 고정 픽셀을 빼는건 어렵지만 calc()함수를 이용하면 css가 자동으로 처리해줌
        매개변수에 값 및 연산자 사이를 띄어쓰기로 구분해야 연산 오류를 방지 할 수 있음
*/
figure {
    width: 100%;
    height: calc(100vh - 120px);
    background-color: black;
    position: relative;
    overflow: hidden;

    /* 비디오와 텍스트 간의 간격 설정 */
    padding-top: 250px;
}

figure video {
    /* 비디오가 figure영역 안쪽에 꽉 차도록 설정하여 비율 유지 */
    object-fit: cover;
    /* 너비와 높이를 모두 부모요소에 맞춤 */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
}