@charset "utf-8";

/* 웹 페이지 시작 시 초기화 */
* {
    /* 요소의 크기를 border, padding을 포함하여 계산하도록 하여 예측 가능하게끔 설정 */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul, ol { list-style: none; }

a {
    text-decoration: none;
}

header {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

header .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative;
}

header .inner h1 {
    position: absolute;
    left: 0px;
    bottom: 15px;
}

header .inner h1 a {
    font: bold 24px/1 "arial";
    color: #444;
}