/* .grid-item 클래스는 모든 그리드 아이템의 기본 스타일을 정의합니다. */
.grid-item{
  color:white; /* 글자 색상: 흰색으로 설정하여 가독성을 높임 */
  background-color:#ff5252; /* 기본 배경 색상: 빨간색으로 설정하여 시각적으로 강조 */
}

/* 짝수 번째 그리드 아이템의 배경 색상을 변경합니다. */
.grid-item:nth-child(2n){
  background-color:#bf5e5e; /* 짝수 번째 배경 색상: 어두운 빨간색으로 설정하여 구분을 쉽게 함 */
}