#container {
    width: 1000px;
    margin: 20px auto;
}

h1 {
    text-align: center;
}

.prod-list {
    list-style: none;
    padding: 0;
}

.prod-list li {
    float: left;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    /* 
        .prod-list .caption 에 position: absolute; 를 적용하기 위해
        부모요소에 position: relative; 설정
    */
    position: relative;
}

.prod-list img {
    margin: 0;
    padding: 0;
    float: left;
    z-index: 5;
}

.prod-list .caption {
    position: absolute;     /* relative 값을 사용한 상위 요소를 기준으로 위치를 지정하여 배치 */
     /* 시작 위치를 목표 위치에서 200px만큼 내리고 hover 했을 때 transform: translateY(-200px); 를 통해 다시 200px만큼 올림 */
    top: 200px;
    width: 300px;
    height: 200px;
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.6s ease-in-out;
    z-index: 10;        /* 다른 요소보다 위에 있도록 */
}

.prod-list li:hover .caption {
    opacity: 1;
    transform: translateY(-200px);
}

.prod-list .caption h2,
.prod-list .caption p {
    color: #fff;
    text-align: center;
}